<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
hello brooooo {{ name }}
<h1>Enter your text below</h1>

<form action="/removepunc" method="get">
<textarea name="text" id="text" cols="30" rows="10" style="margin: 0px; width: 1408px; height: 177px;"></textarea>
    <input type="checkbox" name="removepunc"> check this out<br>
    <input type="checkbox" name="upper"> Upper Case<br>
    <input type="checkbox" name="newlineremover"> Newline<br>
    <input type="checkbox" name="countcharacter"> Coutn Character<br>
    <input type="checkbox" name="extraspaceremover"> extra space<br>
    <button type="submit">submit</button>
</form>


</body>
</html>