{% extends 'shopping/base.html' %}

{% block body %}

<div class="container">
	<div class="col">

<h2>This is the Checkout Page</h2>

<div>
<ul class="list-group" id="items">
</ul>
</div>
</div>

<div class="col my-4">
	<h2>Enter your details</h2>
<form method="Post" action="/shopping/home/"> {% csrf_token %}
  <input type="hidden" name="itemjson" id="itemjson">
  <div class="form-row">
  	<div class="form-group col-md-6">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="Email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="Address1">Address</label>
    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="Address2">Address Line 2</label>
    <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="City">City</label>
      <input type="text" class="form-control" id="city" name="city">
    </div>

    <div class="form-group col-md-4">
      <label for="State">State</label>
      <input type="text" name="state" id="state">
    </div>
    <div class="form-group col-md-2">
      <label for="Phone">Phone</label>
      <input type="tel" class="form-control" id="Phone" name="phone">
    </div>

    <button type="submit" class="btn btn-primary" id="submit">Sign in</button>
    </div>
    <div class="alert alert-success collapse" id="myalert" role="alert">
  This is a success alert—check it out!
      </div>

</form>
</button>
</div>
</div>

{% endblock %}

{% block js %}

<script>

if (localStorage.getItem('cart') == null){
var cart = {};
}
else{
cart = JSON.parse(localStorage.getItem('cart'));
}	
console.log(cart);
var sum = 0;
if ($.isEmptyObject(cart)){
  mystr = `<p>Your Cart is Empth</p>`

          $('#items').append(mystr);

}else{

for(item in cart){
	let name = cart[item][1];
	let qty = cart[item][0];
  sum = sum + qty;
	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
           ${name}
            <span class="badge badge-primary badge-pill">${qty}</span>
          </li>`


$('#items').append(mystr);

}
}
document.getElementById('cart').innerHTML = sum;
$('#itemjson').val(JSON.stringify(cart));
alert('thank you for your shopping. your order id is {{id}}')
localStorage.clear();
// document.location = '/shopping/home/';

$(document).ready(function () {
  $('#submit').click(function(){
    $('#myalert').show();

  });
});

</script>

{% endblock %}


























