
{% extends 'shopping/base.html' %}
   <style type="text/css">
        .col-md-3
        {
        display: inline-block;
        margin-left:-4px;
        }

        .col-md-3 img{
            width:100%;
            height:auto;
        }

        body .carousel-indicator li{
            background-color: blue;
        }

        body .carousel-control-prev-icon,
        body .carousel-control-next-icon{
            background-color: blue;
        }

        body .no-padding{
            padding-left: 0;
            padding-right: 0;

        }
      </style>
</head>
<body>

{% block body %}
{% load static %}

<a href="{% static 'shopping/mystatic.txt' %}">Click Me</a>

<h1>Hello shoppin website. Lets do magic/INDEX</h1>
<h2>this is the end if INDEX page</h2>
 {% endblock %}
<!--     {% block js %}-->
<!--    <script>-->
<!--        console.log('working');-->
<!--        if (localstorage.getItem('cart') == NULL){-->
<!--        var cart = {};-->
<!--        }-->
<!--        else{-->
<!--        cart  = JSON.parse(localstorage.getItem('cart'));-->
<!--        }-->

<!--        $('.cart').click(function(){-->
<!--        });-->

<!--    </script>-->

<!--    {% endblock %}-->


<!--</div>-->

<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

</body>
</html>
